{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Roads have Economic impact too!</h1>
              <p>Road traffic Accidents caused a 4% decrease in Nigeria’s GDP during the year 2010</p>
              <p><a class="btn btn-lg btn-primary" href="potholemap" role="button">View Pothole Map</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Trafﬁc is growing day by day.</h1>
              <p>Now you have a mechanism to know, in real time, about the trafﬁc condition on the routes you wish to travel</p>
              <p><a class="btn btn-lg btn-primary" href="trafficmap" role="button">View Traffic Map</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get the Mobile App</h1>
              <p>With widespread adoption of smartphones, estimated at 20.5% of the Nigerian population as at 2013, mobile applications have changed the way we live</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Download App</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->



    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/economic.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Economic Impact</h2>
          <p>The global economic cost of road traffic accidents was estimated at $518 billion per year in 2003 with $100 billion of that occurring in poor developing countries. Nigeria loses about 80 billion Naira annually to road accidents.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/social.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Social Impact</h2>
          <p>The stopping and starting in traffic jams burns fuel at a higher rate than the smooth rate of travel on the open highway. This increase in fuel consumption costs commuters additional money for fuel and it also contributes to the amount of emissions released by the vehicles. These emissions create air pollution and are related to global warming.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/business.jpg"
           alt="Generic placeholder image" width="140" height="140">
          <h2>Business Impact</h2>
          <p>Direct costs of congestion to business arise through an increase in the
generalised cost of transport. That is, businesses absorb costs through
the cost of increased value of travel time and vehicle operating costs.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


{% endblock %}
