
{% extends './layouts/default.html' %} {% block title %}{{title}}{% endblock %}

 {% block content %}

    <div id='map' class="map"></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoidmlrdG91cjE5IiwiYSI6InlKMG1PVWcifQ.qcNcAsVugYHc6PKNBQqeeQ';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([0, 0], 9);
     //.featureLayer.loadURL('js/data.geojson');
    

var myLayer = L.mapbox.featureLayer().addTo(map);

if (!navigator.geolocation) {
    alert('Geolocation is not available');
} else {
        map.locate();
}

map.on('locationfound', function(e) {
    map.fitBounds(e.bounds);

    map.setView([e.latlng.lat, e.latlng.lng], 9);
    map.featureLayer.loadURL('js/data.geojson');

});

map.on('locationerror', function() {
  alert('Position could not be found');
});
</script>
  {% endblock %}
