{% extends './layouts/default.html' %} {% block title %}{{title}}{% endblock %} {% block content %}
<div id='map' class="map"></div>
<script>
  
  
  if (!navigator.geolocation) {
      alert('Geolocation is not available');
  } else {
          navigator.geolocation.getCurrentPosition(showPosition);
  }
  
 function showPosition(position) {  
          var baseLayer = L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
              maxZoom: 18
            }
          );
  
          var cfg = {
            
            "radius": 2,
            "maxOpacity": .8,          
            "scaleRadius": true, 
            "useLocalExtrema": true,
            latField: 'lat',          
            lngField: 'lng',      
            valueField: 'count'
          };
  
  
          var heatmapLayer = new HeatmapOverlay(cfg);
  
          var map = new L.Map('map', {
            center: new L.LatLng(24, 46),
            zoom: 4,
            layers: [baseLayer, heatmapLayer]
          });
   
//       var data = {
//                    datelimit: '2015-03-25'
//                    };
//       $.ajax({
//                url: 'http://localhost:3000/trafficmap',
//                dataType: 'text',
//                type: 'post',
//                contentType: 'application/x-www-form-urlencoded',
//                data:data,
//                success: function( data, textStatus, jQxhr ){
//                    console.log(data);
//                },
//                error: function( jqXhr, textStatus, errorThrown ){
//                    console.log( errorThrown );
//                }
//            });
              var testData = {
            max: 8,
            data:[{lat: 24.640800, lng:46.772800, count: 3},{lat: 50.750000, lng:-1.550000, count: 1},{lat: 52.633300, lng:1.750000, count: 1},{lat: 48.150000, lng:9.466700, count: 1},{lat: 52.350000, lng:4.916700, count: 2},{lat: 60.80000, lng:11.100000, count: 1},{lat: 43.561000, lng:-116.214000, count: 1},{lat: 47.503600, lng:-94.685000, count: 1},{lat: 42.181800, lng:-71.196200, count: 1},{lat: 42.047700, lng:-74.122700, count: 1},{lat: 40.032600, lng:-75.719000, count: 1},{lat: 40.7128000, lng:-73.296200, count: 2},{lat: 27.900300, lng:-82.302400, count: 1},{lat: 38.208500, lng:-85.691800, count: 1},{lat: 46.815900, lng:-100.706000, count: 1},{lat: 30.544900, lng:-90.808300, count: 1},{lat: 44.735000, lng:-89.610000, count: 1},{lat: 41.420100, lng:-75.648500, count: 2},{lat: 39.420900, lng:-74.497700, count: 1},{lat: 39.743700, lng:-104.97900, count: 1},{lat: 39.559300, lng:-105.006000, count: 1},{lat: 45.267300, lng:-93.019600, count: 1},{lat: 41.121500, lng:-89.463500, count: 1},{lat: 43.431400, lng:-83.9784, count: 1},{lat: 43.7279, lng:-86.284, count: 1},{lat: 40.7168, lng:-73.9861, count: 1},{lat: 47.7294, lng:-116.757, count: 1},{lat: 47.7294, lng:-116.757, count: 2},{lat: 35.5498, lng:-118.917, count: 1},{lat: 34.1568, lng:-118.523, count: 1},{lat: 39.501, lng:-87.3919, count: 3},{lat: 33.5586, lng:-112.095, count: 1},{lat: 38.757, lng:-77.1487, count: 1},{lat: 33.223, lng:-117.107, count: 1},{lat: 30.2316, lng:-85.502, count: 1},{lat: 39.1703, lng:-75.5456, count: 8},{lat: 30.0041, lng:-95.2984, count: 2},{lat: 29.7755, lng:-95.4152, count: 1},{lat: 41.8014, lng:-87.6005, count: 1},{lat: 37.8754, lng:-121.687, count: 7},{lat: 38.4493, lng:-122.709, count: 1},{lat: 40.5494, lng:-89.6252, count: 1},{lat: 42.6105, lng:-71.2306, count: 1},{lat: 40.0973, lng:-85.671, count: 1},{lat: 40.3987, lng:-86.8642, count: 1},{lat: 40.4224, lng:-86.8031, count: 4},{lat: 47.2166, lng:-122.451, count: 1}]
          };
  
       
          heatmapLayer.setData(testData);
   
  }

</script>
</body>

</html>