{% extends './layouts/default.html' %} {% block title %}{{title}}{% endblock %}
 {% block content %}
<div class="jumbotron">
  <h2>{{title}}</h2><br/>
  <b>Evaluation Report</b>
  <pre>{{viewoutput}}</pre>
</div>
  {% endblock %}