<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% include "../includes/head.html" %}
</head>
 
 <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Teeh</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="potholemap">Pothole Map</a></li>
                <li><a href="trafficmap">Traffic Map</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Train <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="trainpothole">Pothole Dataset</a></li>
                    <li><a href="trainspeedbreaker">Speedbreaker Dataset</a></li>
                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

    {% block content %}{% endblock %}
    {% include "../includes/foot.html" %}
    
   
      </div>
    </div><!-- /.container -->
</body>
</html>